In [ ]:
a = 100

In [ ]:
## Declaring and Assigning a variable

age = 25
height = 1.75
name = 'Emirhan'
is_student = True

# Printing the variables
print("Age:", age)
print("Height:", height)
print("Name:", name)
print("Is Student:", is_student)

In [ ]:
## Naming Conventions
## Variable names should be descriptive
## They must start with a letter or underscore
## They can contain letters, numbers, and underscores

first_name = "Emirhan"
last_name = "Keser"

In [ ]:
# Invalid variable names
# 1st_name = "Emirhan"  # Cannot start with a number
# first-name = "Emirhan"  # Cannot contain hyphens
# first name = "Emirhan"  # Cannot contain spaces
# _first_name = "Emirhan"  # Valid, but underscores are often used for private variables

In [1]:
## Understanding Variable Types
## Python is dynamically typed, meaning you don't need to declare the type of a variable explicitly.

age = 30  # Reassigning a new value to the variable
height = 1.80  # Changing the value of height
name = "Ali"  # Changing the value of name
is_student = False  # Changing the value of is_student
# Printing the updated variables
print("Updated Age:", age)
print("Updated Height:", height)
print("Updated Name:", name)
print("Updated Is Student:", is_student)

Updated Age: 30
Updated Height: 1.8
Updated Name: Ali
Updated Is Student: False

In [4]:
## Type Checking and Conversion

age = 25 
print("Type of age:", type(age))

# Type conversion
age_str = str(age)  # Convert integer to string
print("Type of age_str:", type(age_str))

Type of age: <class 'int'>
Type of age_str: <class 'str'>

In [5]:
first_name = "Emirhan"
int(first_name)  # This will raise an error because you cannot convert a string to an integer directly

ValueError: invalid literal for int() with base 10: 'Emirhan'

In [7]:
height = 1.75
print("Type of height:", type(height))
height_int = int(height)  # Convert float to integer
print("Height as integer:", height_int)

Type of height: <class 'float'>
Height as integer: 1