In [2]:
## Integer Example
age = 30
type(age)

int

In [3]:
## Floatig Point Example
pi = 3.14159
type(pi)

float

In [4]:
## String Example
name = "Emirhan"
type(name)

str

In [5]:
## Boolean Example
is_student = True
type(is_student)

bool

In [6]:
a = 10
b = 10
type(a == b)

bool

In [7]:
## Common Errors

result = 'Hello' + 10

TypeError: can only concatenate str (not "int") to str

In [9]:
result = 'Hello' + str(10)
print(result)

Hello10