## SQL and SQLite
SQL (Structured Query Language) is a standard programming language specifically for managing and manipulating relational databases. It is used for tasks such as querying data, updating records, and creating and modifying database structures.
SQLite is a C-language library that implements a small, fast, self-contained, high-reliability, full-featured, SQL database engine. It is the most used database engine in the world, and it is built into all mobile phones and most computers.

In [1]:
import sqlite3

In [2]:
## Connecting to SQLite Database
conn = sqlite3.connect('example.db')
conn

In [3]:
## Cursor is used to interact with the database
cursor = conn.cursor()

In [4]:
## Create a table
cursor.execute('''
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY, 
    name TEXT,
    age INTEGER
)
''')
## Primary Key is a unique identifier for a record in a table

## Commit the changes
conn.commit()

In [5]:
cursor.execute('''
SELECT * FROM users
''')

In [6]:
## Inserting Data into the Table
cursor.execute('''
INSERT INTO users (name, age) VALUES (?, ?)
''', ("Alice", 30))

cursor.execute('''
INSERT INTO users (name, age) VALUES (?, ?)
''', ("Bob", 25))

## (?,? ?) is a placeholder for parameterized queries. It helps prevent SQL injection attacks.

conn.commit()

In [7]:
## Querying Data from the Table
cursor.execute('''
SELECT * FROM users
''')
rows = cursor.fetchall()
rows

[(1, 'Alice', 30), (2, 'Bob', 25)]

In [8]:
## Update Data in the Table
cursor.execute('''
UPDATE users SET age = ? WHERE name = ?
''', (31, "Alice"))

## ? used for parameterized queries to prevent SQL injection attacks.

conn.commit()

In [9]:
## Querying Data from the Table
cursor.execute('''
SELECT * FROM users
''')
rows = cursor.fetchall()
rows

[(1, 'Alice', 31), (2, 'Bob', 25)]

In [10]:
## Delete Data from the Table
cursor.execute('''
DELETE FROM users WHERE name = ?
''', ("Bob",))

conn.commit()

In [11]:
## Querying Data from the Table
cursor.execute('''
SELECT * FROM users
''')
rows = cursor.fetchall()
rows

[(1, 'Alice', 31)]

In [12]:
## Insert multiple rows into the Table
cursor.executemany('''
INSERT INTO users (name, age) VALUES (?, ?)
''', [
    ("Charlie", 35),
    ("David", 40)
])

## Commit the changes
conn.commit()

In [13]:
## Querying Data from the Table
cursor.execute('''
SELECT * FROM users
''')
rows = cursor.fetchall()
rows

[(1, 'Alice', 31), (2, 'Charlie', 35), (3, 'David', 40)]

In [14]:
## Closing the Connection
conn.close()