In [28]:
## Creating a tuple
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [29]:
lst = list()
print(type(lst))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [30]:
numbers = tuple([1, 2, 3, 4, 5])
numbers

(1, 2, 3, 4, 5)

In [31]:
list((1, 2, 3, 4, 5))

[1, 2, 3, 4, 5]

In [32]:
mixed_tuple = (1, "Hello", 3.14, True)
print(mixed_tuple)

(1, 'Hello', 3.14, True)

In [33]:
## Accessing tuple elements
numbers = (1, 2, 3, 4, 5, 6)
print(numbers[0])  # First element
print(numbers[1])  # Second element
print(numbers[-1])  # Last element
print(numbers[-2])  # Second to last element

1
2
6
5

In [34]:
## Slicing tuples
print(numbers[1:4])  # Elements from index 1 to 3
print(numbers[:3])   # First three elements
print(numbers[3:])   # Elements from index 3 to the end
print(numbers[-3:])  # Last three elements
print(numbers[::2])  # Every second element

(2, 3, 4)
(1, 2, 3)
(4, 5, 6)
(4, 5, 6)
(1, 3, 5)

In [35]:
## Tuple operations
# Length of the tuple
print(len(numbers))

6

In [36]:
print(3 in numbers)  # Check if 3 is in the tuple

True

In [37]:
print(numbers + (7, 8))  # Concatenation

(1, 2, 3, 4, 5, 6, 7, 8)

In [38]:
print(numbers * 2)  # Repetition

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [39]:
print(2 * numbers)  # Repetition with a different multiplier

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [40]:
## Immatable nature of tuples
try:
    numbers[0] = 10  # Attempt to change the first element
except TypeError as e:
    print(f"Error: {e}")


# Tuples are immutable, so we cannot change their elements

Error: 'tuple' object does not support item assignment

In [41]:
## Packing and unpacking tuples
## Packing a tuple
packed_tuple = (1, "Hello", 3.14)
print(packed_tuple)

(1, 'Hello', 3.14)

In [42]:
## Unpacking a tuple
a, b, c = packed_tuple
print(a)  # 1
print(b)  # Hello
print(c)  # 3.14

1
Hello
3.14

In [43]:
## Unpacking with *
numbers = (1, 2, 3, 4, 5, 6)
first, *middle, last = numbers
print(first)   
print(middle)  
print(last)

1
[2, 3, 4, 5]
6

In [45]:
## Nested tuples
## Nested List
lst=[[1, 2, 3, 4], [5, 6, 7, 8, 9], [1, 'Hello', 3.14, True]]
lst[0][0:3]

[1, 2, 3]

In [44]:
lst=[[1, 2, 3, 4], [5, 6, 7, 8, 9], (1, 'Hello', 3.14, True)]
lst[2][0:3]

(1, 'Hello', 3.14)

In [47]:
nested_tuple = ((1,2,3), ('a', 'b', 'c'), (True, False))
print(nested_tuple[0])  # Accessing the first tuple
print(nested_tuple[1][1])  # Accessing 'b' from the second tuple

(1, 2, 3)
b

In [48]:
## iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item, end=' ')
    print()  # New line after each sub-tuple

1 2 3
a b c
True False